{% if 'posts' == site.tiles-source %}
    {% assign tiles = site.posts %}
{% elsif 'pages' == site.tiles-source %}
    {% assign tiles = site.html_pages | where_exp: "item", "item.show_tile != false" %}
{% endif %}
<section id="launch" class="tiles">
  {% for tile in tiles limit:site.tiles-count %}
  <article>
    <span class="image">
      {% if tile.image %}
        <picture>
          {% assign webp_path = tile.image | replace: '.jpeg', '.webp' | replace: '.jpg', '.webp' | replace: '.png', '.webp' %}
          <!-- WebP support for browsers that support it -->
          <source srcset="{{ webp_path | relative_url }}" type="image/webp">
          <img src="{{ tile.image | relative_url }}" alt="{{ tile.title }}" />
        </picture>
      {% endif %}
      {% if tile.imageUrl %}
        <img src="{{ tile.imageUrl }}" alt="{{ tile.title }}" />
      {% endif %}
    </span>
    <header class="major">
      <h3><a href="{{ tile.url | relative_url }}" class="link">{{ tile.title }}</a></h3>
      <p>{{ tile.description }}</p>
    </header>
  </article>
  {% endfor %}
</section>